---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -readability-identifier-length,
        -concurrency-mt-unsafe,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -bugprone-exception-escape,
        -misc-non-private-member-variables-in-classes,
        -misc-confusable-identifiers,
        -misc-include-cleaner,
        -cert-err58-cpp,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers,
        -cppcoreguidelines-avoid-c-arrays,
        -hicpp-avoid-c-arrays,
        -modernize-avoid-c-arrays
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'

ExtraArgs:
  - -Wno-unknown-warning-option
  - -Wno-ignored-optimization-argument
  - -Wno-unused-command-line-argument
