name: ClusterFuzzLite continuous builds
on:
  workflow_dispatch:
  push:
    branches:
      - main  # Use your actual default branch here.
permissions: read-all
jobs:
  Build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sanitizer: [address, undefined]
    steps:
    - name: Setup ccache
      uses: hendrikmuhs/ccache-action@v1.2.14
      env:
        CCACHE_DIR: ${{ github.workspace }}/.ccache
      with:
        max-size: 2G
    - name: Build Fuzzers (${{ matrix.sanitizer }})
      id: build
      uses: google/clusterfuzzlite/actions/build_fuzzers@v1
      with:
        sanitizer: ${{ matrix.sanitizer }}
        upload-build: true