name: Clang-Tidy 21

on:
  push:
    branches:
      - main
      - develop
      - dev/**
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
      - develop
    paths-ignore:
      - '**.md'

env:
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

jobs:
  clang-tidy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - uses: actions/cache@v5
        with:
          path: "**/cpm_modules"
          key: clang-tidy-${{ runner.os }}-${{ hashFiles('**/third-parties.cmake') }}

      - name: Setup required C++ tools
        uses: aminya/setup-cpp@v1
        with:
          compiler: llvm-21
          cmake: "3.31.0"
          ninja: true
          ccache: true
          clang-tidy: true

      - name: Install protobuf dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler libprotobuf-dev libgrpc++-dev protobuf-compiler-grpc

      - name: Configure (clang-tidy enforced)
        run: |
          cmake -GNinja -S . -B build -DCMAKE_BUILD_TYPE=Release \
                -DHPP_PROTO_PROTOC=find \
                -DCMAKE_C_COMPILER=clang \
                -DCMAKE_CXX_COMPILER=clang++ \
                -DCMAKE_C_CLANG_TIDY="clang-tidy;-warnings-as-errors=*" \
                -DCMAKE_CXX_CLANG_TIDY="clang-tidy;-warnings-as-errors=*"

      - name: Build
        run: cmake --build build -j"$(nproc)"
