name: Fetch_Content_Usage

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - develop
      - dev/**
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
      - develop
    paths-ignore:
      - '**.md'

env:
  CTEST_OUTPUT_ON_FAILURE: 1
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules
  CCACHE_DIR: ${{ github.workspace }}/.ccache

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        gcc: [13]

    steps:
      - uses: actions/checkout@v6

      - name: Setup required C++ tools
        uses: aminya/setup-cpp@v1.8.0
        with:
          compiler: gcc-${{ matrix.gcc }}
          cmake: "3.31.0"
          ninja: true
          ccache: true

      - uses: actions/cache@v5
        with:
          path: "**/cpm_modules"
          key: ${{ github.workflow }}-cpm-modules-${{ hashFiles('**/third-parties.cmake') }}

      - name: Cache ccache
        uses: actions/cache@v5
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ${{ github.workflow }}-${{ runner.os }}-gcc-${{ matrix.gcc }}-ccache-${{ github.sha }}
          restore-keys: |
            ${{ github.workflow }}-${{ runner.os }}-gcc-${{ matrix.gcc }}-ccache-

      - name: install protoc
        run: |
          sudo apt-get update
          sudo apt install -y git protobuf-compiler libprotobuf-dev
  
      - name: configure
        env:
          HPP_PROTO_GIT_TAG: ${{ github.head_ref || github.ref_name }}
        run: cmake -DHPP_PROTO_GIT_TAG="${HPP_PROTO_GIT_TAG}" -S tutorial -B tutorial-build

      - name: build
        run: cmake --build tutorial-build --config Release -j4

      - name: test
        run: |
          cd tutorial-build
          ctest --build-config Release --output-on-failure
