---
  name: Linux
  
  on:
    push:
      branches:
        - main
        - develop
        - dev/**
      paths-ignore:
        - '**.md'
    pull_request:
      branches:
        - main
        - develop
      paths-ignore:
        - '**.md'
  
  env:
    CTEST_OUTPUT_ON_FAILURE: 1
    CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules
  
  jobs:
    build:
      strategy:
        fail-fast: false
        matrix:
          include:
            - os: ubuntu-24.04
              compiler: gcc-14
              cmake_preset: ci-linux-release
            - os: ubuntu-24.04
              compiler: llvm-20
              cmake_preset: ci-linux-release
            - os: ubuntu-24.04
              compiler: llvm-20
              cmake_preset: ci-linux-asan-ubsan
            - os: ubuntu-24.04
              compiler: gcc-13
              cmake_preset: ci-linux-coverage

      runs-on: ${{ matrix.os }}
      defaults:
        run:
          shell: bash
      steps:
        - name: Install protoc
          run: |
            sudo apt-get update
            sudo apt-get install -y git protobuf-compiler

        - name: Install libgrpc++
          if: matrix.cmake_preset != 'ci-linux-asan-ubsan'
          run: |
            sudo apt-get install -y libprotobuf-dev libgrpc++-dev protobuf-compiler-grpc
        - uses: actions/checkout@v6

        - name: Setup required C++ tools
          uses: aminya/setup-cpp@v1
          with:
            compiler: ${{ matrix.compiler }}
            cmake: "3.31.0"
            ninja: true
            ccache: true

        - uses: actions/cache@v5
          with:
            path: "**/cpm_modules"
            key: ${{ runner.os }}-${{ matrix.compiler }}-${{ matrix.cmake_preset }}-cpm-modules-${{ hashFiles('**/third-parties.cmake') }}
  
        - name: install lcov
          if: matrix.cmake_preset == 'ci-linux-coverage'
          run: |
            sudo apt-get install -y lcov
            
        - name: configure
          run: cmake --preset "${{ matrix.cmake_preset }}"
  
        - name: build
          run: cmake --build build -j"$(nproc)"
  
        - name: test
          working-directory: ./build
          run: |
            ctest --output-on-failure

        - name: capture coverage
          if: matrix.cmake_preset == 'ci-linux-coverage'
          run: |
            cmake --build build --target coverage_filtered_info

        - name: Upload coverage to Codecov
          uses: codecov/codecov-action@v5
          if: matrix.cmake_preset == 'ci-linux-coverage'
          with:
            token: ${{ secrets.CODECOV_TOKEN }}
            files: build/coverage.filtered.info
            flags: linux,ci
            name: linux-coverage
            verbose: true
