---
name: MacOS

on:
  push:
    branches:
      - main
      - develop
      - dev/**
    paths-ignore:
        - '**.md'
  pull_request:
    branches:
      - main
      - develop
    paths-ignore:
        - '**.md'

env:
  CTEST_OUTPUT_ON_FAILURE: 1
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - cmake_preset: ci-macos-release
          - cmake_preset: ci-macos-coverage

    steps:
      - uses: actions/checkout@v6

      - uses: actions/cache@v5
        with:
          path: "**/cpm_modules"
          key: ${{ github.workflow }}-${{ runner.os }}-${{ matrix.cmake_preset }}-cpm-modules-${{ hashFiles('**/third-parties.cmake') }}

      - name: Setup required C++ tools
        uses: aminya/setup-cpp@v1
        with:
          cmake: "3.31.0"
          ninja: true
          ccache: true

      - name: Install protobuf
        shell: bash
        run: brew install protobuf grpc
        
      - name: install lcov
        if: matrix.cmake_preset == 'ci-macos-coverage'
        run: brew install lcov

      - name: configure
        shell: bash
        run: |
          cmake --preset "${{ matrix.cmake_preset }}"

      - name: build
        run: cmake --build build

      - name: test
        working-directory: ./build
        run: |
          ctest --output-on-failure


      - name: capture coverage
        if: matrix.cmake_preset == 'ci-macos-coverage'
        run: |
          cmake --build build --target coverage_filtered_info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        if: matrix.cmake_preset == 'ci-macos-coverage'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/coverage.filtered.info
          flags: macos,ci
          name: macos-coverage
          verbose: true
