---
name: Windows

on:
  push:
    branches:
      - main
      - develop
      - dev/**
    paths-ignore:
        - '**.md'
  pull_request:
    branches:
      - main
      - develop
    paths-ignore:
        - '**.md'

env:
  CTEST_OUTPUT_ON_FAILURE: 1
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

jobs:
  build:
    runs-on: windows-latest
    strategy:
        matrix:
          protoc: ["find"]
          compiler_env: [msvc, mingw]
          include:
            - compiler_env: msvc
              shell: pwsh
            - compiler_env: mingw
              shell: bash
    defaults:
      run:
        shell: ${{ matrix.shell }}

    steps:
      - uses: actions/checkout@v4

      - uses: ilammy/msvc-dev-cmd@v1
        if: ${{ matrix.compiler_env == 'msvc' }}

      - uses: actions/cache@v4
        with:
          path: "**/cpm_modules"
          key: ${{ github.workflow }}-cpm-modules-${{ hashFiles('**/third-party.cmake') }}

      - name: Setup Ninja
        uses: wirekang/setup-ninja@v1
        with:
          platform: win
          tag: v1.12.1

      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: "33.x"

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2.14
        with:
          key: ${{ github.workflow }}-${{ matrix.protoc }}-${{ matrix.compiler_env }}

      - name: configure
        run: |
          cmake -S . -B build -DHPP_PROTO_PROTOC=${{ matrix.protoc }} -DCMAKE_BUILD_TYPE=Release -DHPP_PROTO_TEST_USE_PROTOBUF=OFF -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -GNinja

      - name: build
        run: cmake --build build

      - name: test
        run: |
          cd build
          ctest --output-on-failure
