---
name: Windows

on:
  push:
    branches:
      - main
      - develop
      - dev/**
    paths-ignore:
        - '**.md'
  pull_request:
    branches:
      - main
      - develop
    paths-ignore:
        - '**.md'

env:
  CTEST_OUTPUT_ON_FAILURE: 1
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

jobs:
  build:
    runs-on: windows-latest
    strategy:
        matrix:
          protoc: ["find"]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: "**/cpm_modules"
          key: ${{ github.workflow }}-cpm-modules-${{ hashFiles('**/third-party.cmake') }}

      - name: Setup Ninja
        uses: wirekang/setup-ninja@v1
        with:
          platform: win
          tag: v1.12.1

      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: "28.x"

      - name: configure
        shell: bash
        run: |
          cmake -S . -B build -DHPP_PROTO_PROTOC=${{ matrix.protoc }} -DCMAKE_BUILD_TYPE=Release -DHPP_PROTO_TEST_USE_PROTOBUF=OFF

      - name: build
        shell: bash
        run: cmake --build build --config Release -j4

      - name: test
        shell: bash
        run: |
          cd build
          ctest --build-config Release --output-on-failure
