name: Workflow Lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - develop
      - dev/**
    paths:
      - ".github/workflows/**"
      - ".github/actions/**"
  pull_request:
    branches:
      - main
      - develop
    paths:
      - ".github/workflows/**"
      - ".github/actions/**"

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Run actionlint
        uses: docker://rhysd/actionlint:latest
        with:
          args: -color
